@mixin based-grid() {
  .wrap {
    padding-left: ($based_grid-gutter-width);
    padding-right: ($based_grid-gutter-width);
    margin-left: auto;
    margin-right: auto;
    max-width: $based_grid-max-width;
  }

  .flex-row,
  .row {
    display: flex;
    flex-flow: row wrap;
  }

  .row {
    margin-left: (($based_grid-gutter-width)) * -1;
    margin-right: (($based_grid-gutter-width)) * -1;
  }

  .row--stack {
    flex-flow: column wrap;
  }

  .row--reverse {
    flex-flow: row-reverse wrap;
  }

  .col {
    position: relative;
    padding-left: ($based_grid-gutter-width);
    padding-right: ($based_grid-gutter-width);
    flex: 1;
    max-width: 100%;
  }
}
@mixin based-flex($sfx) {
  @for $i from 0 through $based_grid-columns {
    .span-#{$i}#{$sfx} {
      flex: 0 0 percentage((1 / $based_grid-columns) * $i);
      max-width: percentage((1 / $based_grid-columns) * $i);
    }

    .offset-#{$i}#{$sfx} {
      margin-left: percentage((1 / $based_grid-columns)) * $i;
    }

    .push-#{$i}#{$sfx} {
      left: percentage((1 / $based_grid-columns)) * $i;
    }

    .pull-#{$i}#{$sfx} {
      right: percentage((1 / $based_grid-columns)) * $i;
    }

    .order-#{$i}#{$sfx} {
      order: #{$i};
    }
  }

  .align-start#{$sfx} {
    align-items: flex-start;

    &.col {
      align-self: flex-start;
    }
  }

  .align-center#{$sfx} {
    align-items: center;

    &.col {
      align-self: center;
    }
  }

  .align-end#{$sfx} {
    align-items: flex-end;

    &.col {
      align-self: flex-end;
    }
  }

  .align-baseline#{$sfx} {
    align-items: baseline;

    &.col {
      align-self: baseline;
    }
  }

  .align-stretch#{$sfx} {
    align-items: stretch;

    &.col {
      align-self: stretch;
    }
  }

  .content-start#{$sfx} {
    align-content: flex-start;
  }

  .content-center#{$sfx} {
    align-content: center;
  }

  .content-end#{$sfx} {
    align-content: flex-end;
  }

  .content-space-around#{$sfx} {
    align-content: space-around;
  }

  .content-space-between#{$sfx} {
    align-content: space-between;
  }

  .justify-start#{$sfx} {
    justify-content: flex-start;
  }

  .justify-center#{$sfx} {
    justify-content: center;
  }

  .justify-end#{$sfx} {
    justify-content: flex-end;
  }

  .justify-space-around#{$sfx} {
    justify-content: space-around;
  }

  .justify-space-between#{$sfx} {
    justify-content: space-between;
  }

  .justify-space-evenly#{$sfx} {
    justify-content: space-evenly;
  }
}
