$based: 16 !default;
$based_spacing: 1rem !default;

// Grid settings
// sm - 512px @ 16px
// md - 768px @ 16px
// lg - 1024px @ 16px
// xl - 1280px @ 16px
$based_grid-breakpoints: (
  sm: 32rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem,
) !default;

$based_grid-columns: 8 !default;
$based_grid-max-width: 64rem !default;
$based_grid-gutter-width: $based_spacing !default;

// Spacing
$based_spacing-multiplier: 4 !default;
$based_spacing-sides: (
  default: default,
  horizontal: horizontal,
  vertical: vertical,
  t: top,
  b: bottom,
  l: left,
  r: right,
) !default;

// Maps for looping
$based_breakpoints: map_keys($based_grid-breakpoints) !default;
