@charset 'UTF-8';

// Config
@import 'config';

// Modules
@import 'modules/root';
@import 'modules/grid';
@import 'modules/position';
@import 'modules/text';
@import 'modules/display';
@import 'modules/float';
@import 'modules/spacing';
@import 'modules/bg';
@import 'modules/list';
@import 'modules/media';
@import 'modules/clearfix';
@import 'modules/helpers';

// Static module includes
@mixin based-core {
  @include based-root;
  @include based-clearfix;
  @include based-helpers;
  @include based-bg;
  @include based-list;
  @include based-media;
  @include based-grid;
}

// Responsive module includes
@mixin based-responsive($suffix) {
  @include based-flex($suffix);
  @include based-position($suffix);
  @include based-text($suffix);
  @include based-display($suffix);
  @include based-float($suffix);
  @include based-spacing('padding', $based_spacing, $based_spacing-multiplier, $suffix);
  @include based-spacing('margin', $based_spacing, $based_spacing-multiplier, $suffix);
}

// Magic
$responsiveSuffix: '' !default;
@include based-core;
@include based-responsive($responsiveSuffix);

@each $breakpoint in $based_breakpoints {
  $query: map-get($based_grid-breakpoints, $breakpoint);
  @media (min-width: #{$query}) {
    $responsiveSuffix: '#{\@}#{$breakpoint}';
    @include based-responsive($responsiveSuffix);
  }
}
